.lvl1 {position: fixed; top: 0; left: 0; z-index: 100; width: 100%; height: 100%; overflow: hidden; pointer-events: none; font-size: 2em; mix-blend-mode: color-dodge;}

.lvl2 {position: absolute; transform: translatex(-10vh); animation-iteration-count: infinite !important; animation-timing-function: linear !important}

.lvl2 .lvl3 {width: 75%; height: 100%; border-radius: 0%; background-image: radial-gradient(rgba(255,255,0,1) 6.25%, rgba(255,0,0,0.5) 18.75%, transparent 75%); animation: lvl1 2s ease-in-out infinite;}
@keyframes lvl1 {0% {transform: scale(1);} 50% {transform: scale(0.5);} 100% {transform: scale(1);}}

.lvl2:nth-child(1) {width: 0.4375em; height: 0.4375em; animation: lvl2-1 9153ms 7846ms;}
@keyframes lvl2-1 {from {transform: translate3d(45vw, 108vh, 0);} to {transform: translate3d(30vw, -126vh, 0);}}
.lvl2:nth-child(1) .lvl3 {animation-delay: 1961ms;}

.lvl2:nth-child(2) {width: 0.4375em; height: 0.4375em; animation: lvl2-2 9390ms 9618ms;}
@keyframes lvl2-2 {from {transform: translate3d(72vw, 106vh, 0);} to {transform: translate3d(54vw, -120vh, 0);}}
.lvl2:nth-child(2) .lvl3 {animation-delay: 2831ms;}

.lvl2:nth-child(3) {width: 0.375em; height: 0.375em;  animation: lvl2-3 9448ms 3399ms;}
@keyframes lvl2-3 {from {transform: translate3d(28vw, 108vh, 0);} to {transform: translate3d(51vw, -115vh, 0);}}
.lvl2:nth-child(3) .lvl3 {animation-delay: 1448ms;}

.lvl2:nth-child(4) {width: 0.5625em; height: 0.5625em; animation: lvl2-4 8308ms 9521ms;}
@keyframes lvl2-4 {from {transform: translate3d(51vw, 105vh, 0);} to {transform: translate3d(30vw, -128vh, 0);}}
.lvl2:nth-child(4) .lvl3 {animation-delay: 325ms;}

.lvl2:nth-child(5) {width: 0.625em; height: 0.625em; animation: lvl2-5 8076ms 5934ms;}
@keyframes lvl2-5 {from {transform: translate3d(56vw, 101vh, 0);} to {transform: translate3d(8vw, -112vh, 0);}}
.lvl2:nth-child(5) .lvl3 {animation-delay: 3303ms;}

.lvl2:nth-child(6) {width: 0.0625em; height: 0.0625em;; animation: lvl2-6 10966ms 9271ms;}
@keyframes lvl2-6 {from {transform: translate3d(61vw, 102vh, 0);} to {transform: translate3d(81vw, -109vh, 0);}}
.lvl2:nth-child(6) .lvl3 {animation-delay: 1072ms;}

.lvl2:nth-child(7) {width: 0.375em; height: 0.375em; animation: lvl2-7 8348ms 8419ms;}
@keyframes lvl2-7 {from {transform: translate3d(78vw, 108vh, 0);} to {transform: translate3d(81vw, -134vh, 0);}}
.lvl2:nth-child(7) .lvl3 {animation-delay: 3428ms;}

.lvl2:nth-child(8) {width: 0.1875em; height: 0.1875em; animation: lvl2-8 10628ms 9333ms;}
@keyframes lvl2-8 {from {transform: translate3d(65vw, 102vh, 0);} to {transform: translate3d(68vw, -126vh, 0);}}
.lvl2:nth-child(8) .lvl3 {animation-delay: 1247ms;}

.lvl2:nth-child(9) {width: 0.3125em; height: 0.3125em; animation: lvl2-9 10691ms 7394ms;}
@keyframes lvl2-9 {from {transform: translate3d(46vw, 102vh, 0);} to {transform: translate3d(63vw, -126vh, 0);}}
.lvl2:nth-child(9) .lvl3 {animation-delay: 2999ms;}

.lvl2:nth-child(10) {width: 0.3125em; height: 0.3125em; animation: lvl2-10 9302ms 5025ms;}
@keyframes lvl2-10 {from {transform: translate3d(90vw, 106vh, 0);} to {transform: translate3d(15vw, -126vh, 0);}}
.lvl2:nth-child(10) .lvl3 {animation-delay: 2196ms;}

.lvl2:nth-child(11) {width: 0.375em; height: 0.375em; animation: lvl2-11 9360ms 7473ms;}
@keyframes lvl2-11 {from {transform: translate3d(53vw, 104vh, 0);} to {transform: translate3d(74vw, -126vh, 0);}}
.lvl2:nth-child(11) .lvl3 {animation-delay: 646ms;}

.lvl2:nth-child(12) {width: 0.5em; height: 0.5em; animation: lvl2-12 7094ms 1237ms;}
@keyframes lvl2-12 {from {transform: translate3d(71vw, 108vh, 0);} to {transform: translate3d(25vw, -122vh, 0);}}
.lvl2:nth-child(12) .lvl3 {animation-delay: 2855ms;}

.lvl2:nth-child(13) {width: 0.3125em; height: 0.3125em; animation: lvl2-13 10282ms 1612ms;}
@keyframes lvl2-13 {from {transform: translate3d(62vw, 104vh, 0);} to {transform: translate3d(68vw, -120vh, 0);}}
.lvl2:nth-child(13) .lvl3 {animation-delay: 754ms;}

.lvl2:nth-child(14) {width: 0.25em; height: 0.25em; animation: lvl2-14 9525ms 4759ms;}
@keyframes lvl2-14 {from {transform: translate3d(17vw, 105vh, 0);} to {transform: translate3d(41vw, -124vh, 0);}}
.lvl2:nth-child(14) .lvl3 {animation-delay: 3579ms;}

.lvl2:nth-child(15) {width: 0.1875em; height: 0.1875em; animation: lvl2-15 7225ms 8186ms;}
@keyframes lvl2-15 {from {transform: translate3d(45vw, 104vh, 0);} to {transform: translate3d(89vw, -130vh, 0);}}
.lvl2:nth-child(15) .lvl3 {animation-delay: 3479ms;}

.lvl2:nth-child(16) {width: 0.3125em; height: 0.3125em; animation: lvl2-16 7993ms 6734ms;}
@keyframes lvl2-16 {from {transform: translate3d(86vw, 102vh, 0);} to {transform: translate3d(20vw, -108vh, 0);}}
.lvl2:nth-child(16) .lvl3 {animation-delay: 783ms;}

.lvl2:nth-child(17) {width: 0.625em; height: 0.625em; animation: lvl2-17 7837ms 3229ms;}
@keyframes lvl2-17 {from {transform: translate3d(16vw, 105vh, 0);} to {transform: translate3d(59vw, -126vh, 0);}}
.lvl2:nth-child(17) .lvl3 {animation-delay: 1209ms;}

.lvl2:nth-child(18) {width: 0.5625em; height: 0.5625em; animation: lvl2-18 9692ms 10030ms;}
@keyframes lvl2-18 {from {transform: translate3d(15vw, 107vh, 0);} to {transform: translate3d(33vw, -112vh, 0);}}
.lvl2:nth-child(18) .lvl3 {animation-delay: 1600ms;}

.lvl2:nth-child(19) {width: 0.5625em; height: 0.5625em; animation: lvl2-19 7894ms 7497ms;}
@keyframes lvl2-19 {from {transform: translate3d(3vw, 103vh, 0);} to {transform: translate3d(36vw, -133vh, 0);}}
.lvl2:nth-child(19) .lvl3 {animation-delay: 3372ms;}

.lvl2:nth-child(20) {width: 0.1875em; height: 0.1875em; animation: lvl2-20 9346ms 10252ms;}
@keyframes lvl2-20 {from {transform: translate3d(48vw, 107vh, 0);} to {transform: translate3d(67vw, -110vh, 0);}}
.lvl2:nth-child(20) .lvl3 {animation-delay: 2370ms;}

.lvl2:nth-child(21) {width: 0.125em; height: 0.125em; animation: lvl2-21 10086ms 2946ms;}
@keyframes lvl2-21 {from {transform: translate3d(32vw, 105vh, 0);} to {transform: translate3d(61vw, -127vh, 0);}}
.lvl2:nth-child(21) .lvl3 {animation-delay: 846ms;}

.lvl2:nth-child(22) {width: 0.5625em; height: 0.5625em; animation: lvl2-22 7481ms 8792ms;}
@keyframes lvl2-22 {from {transform: translate3d(14vw, 103vh, 0);} to {transform: translate3d(93vw, -129vh, 0);}}
.lvl2:nth-child(22) .lvl3 {animation-delay: 3008ms;}

.lvl2:nth-child(23) {width: 0.4375em; height: 0.4375em; animation: lvl2-23 10151ms 4805ms;}
@keyframes lvl2-23 {from {transform: translate3d(12vw, 105vh, 0);} to {transform: translate3d(38vw, -130vh, 0);}}
.lvl2:nth-child(23) .lvl3 {animation-delay: 3017ms;}

.lvl2:nth-child(24) {width: 0.25em; height: 0.25em; animation: lvl2-24 7378ms 9941ms;}
@keyframes lvl2-24 {from {transform: translate3d(77vw, 104vh, 0);} to {transform: translate3d(14vw, -118vh, 0);}}
.lvl2:nth-child(24) .lvl3 {animation-delay: 3814ms;}

.lvl2:nth-child(25) {width: 0.1875em; height: 0.1875em; animation: lvl2-25 7351ms 2755ms;}
@keyframes lvl2-25 {from {transform: translate3d(46vw, 103vh, 0);} to {transform: translate3d(28vw, -105vh, 0);}}
.lvl2:nth-child(25) .lvl3 {animation-delay: 2408ms;}

.lvl2:nth-child(26) {width: 0.1875em; height: 0.1875em; animation: lvl2-26 9967ms 3782ms;}
@keyframes lvl2-26 {from {transform: translate3d(98vw, 108vh, 0);} to {transform: translate3d(81vw, -118vh, 0);}}
.lvl2:nth-child(26) .lvl3 {animation-delay: 3853ms;}

.lvl2:nth-child(27) {width: 0.125em; height: 0.125em; animation: lvl2-27 9390ms 3523ms;}
@keyframes lvl2-27 {from {transform: translate3d(38vw, 103vh, 0);} to {transform: translate3d(65vw, -130vh, 0);}}
.lvl2:nth-child(27) .lvl3 {animation-delay: 3375ms;}

.lvl2:nth-child(28) {width: 0.4375em; height: 0.4375em; animation: lvl2-28 10051ms 6185ms;}
@keyframes lvl2-28 {from {transform: translate3d(97vw, 105vh, 0);} to {transform: translate3d(84vw, -122vh, 0);}}
.lvl2:nth-child(28) .lvl3 {animation-delay: 1319ms;}

.lvl2:nth-child(29) {width: 0.25em; height: 0.25em; animation: lvl2-29 10397ms 9024ms;}
@keyframes lvl2-29 {from {transform: translate3d(55vw, 105vh, 0);} to {transform: translate3d(4vw, -124vh, 0);}}
.lvl2:nth-child(29) .lvl3 {animation-delay: 239ms;}

.lvl2:nth-child(30) {width: 0.375em; height: 0.375em; animation: lvl2-30 7702ms 4511ms;}
@keyframes lvl2-30 {from {transform: translate3d(48vw, 110vh, 0);} to {transform: translate3d(95vw, -131vh, 0);}}
.lvl2:nth-child(30) .lvl3 {animation-delay: 1501ms;}

.lvl2:nth-child(31) {width: 0.4375em; height: 0.4375em; animation: lvl2-31 9165ms 5126ms;}
@keyframes lvl2-31 {from {transform: translate3d(6vw, 101vh, 0);} to {transform: translate3d(40vw, -126vh, 0);}}
.lvl2:nth-child(31) .lvl3 {animation-delay: 3321ms;}

.lvl2:nth-child(32) {width: 0.0625em; height: 0.0625em;; animation: lvl2-32 10408ms 574ms;}
@keyframes lvl2-32 {from {transform: translate3d(18vw, 108vh, 0);} to {transform: translate3d(19vw, -125vh, 0);}}
.lvl2:nth-child(32) .lvl3 {animation-delay: 3795ms;}

.lvl2:nth-child(33) {width: 0.5625em; height: 0.5625em; animation: lvl2-33 7171ms 8298ms;}
@keyframes lvl2-33 {from {transform: translate3d(69vw, 106vh, 0);} to {transform: translate3d(79vw, -113vh, 0);}}
.lvl2:nth-child(33) .lvl3 {animation-delay: 1893ms;}

.lvl2:nth-child(34) {width: 0.5625em; height: 0.5625em; animation: lvl2-34 10208ms 3045ms;}
@keyframes lvl2-34 {from {transform: translate3d(68vw, 109vh, 0);} to {transform: translate3d(74vw, -122vh, 0);}}
.lvl2:nth-child(34) .lvl3 {animation-delay: 1815ms;}

.lvl2:nth-child(35) {width: 0.1875em; height: 0.1875em; animation: lvl2-35 8459ms 8312ms;}
@keyframes lvl2-35 {from {transform: translate3d(91vw, 108vh, 0);} to {transform: translate3d(92vw, -121vh, 0);}}
.lvl2:nth-child(35) .lvl3 {animation-delay: 411ms;}

.lvl2:nth-child(36) {width: 0.3125em; height: 0.3125em; animation: lvl2-36 9875ms 7664ms;}
@keyframes lvl2-36 {from {transform: translate3d(34vw, 109vh, 0);} to {transform: translate3d(9vw, -123vh, 0);}}
.lvl2:nth-child(36) .lvl3 {animation-delay: 717ms;}

.lvl2:nth-child(37) {width: 0.125em; height: 0.125em; animation: lvl2-37 8541ms 6664ms;}
@keyframes lvl2-37 {from {transform: translate3d(19vw, 104vh, 0);} to {transform: translate3d(59vw, -108vh, 0);}}
.lvl2:nth-child(37) .lvl3 {animation-delay: 2361ms;}

.lvl2:nth-child(38) {width: 0.125em; height: 0.125em; animation: lvl2-38 9160ms 9862ms;}
@keyframes lvl2-38 {from {transform: translate3d(60vw, 109vh, 0);} to {transform: translate3d(67vw, -136vh, 0);}}
.lvl2:nth-child(38) .lvl3 {animation-delay: 1440ms;}

.lvl2:nth-child(39) {width: 0.0625em; height: 0.0625em;; animation: lvl2-39 10034ms 6645ms;}
@keyframes lvl2-39 {from {transform: translate3d(15vw, 106vh, 0);} to {transform: translate3d(1vw, -132vh, 0);}}
.lvl2:nth-child(39) .lvl3 {animation-delay: 87ms;}

.lvl2:nth-child(40) {width: 0.625em; height: 0.625em; animation: lvl2-40 9316ms 2655ms;}
@keyframes lvl2-40 {from {transform: translate3d(70vw, 107vh, 0);} to {transform: translate3d(67vw, -126vh, 0);}}
.lvl2:nth-child(40) .lvl3 {animation-delay: 3783ms;}

.lvl2:nth-child(41) {width: 0.125em; height: 0.125em; animation: lvl2-41 8555ms 12ms;}
@keyframes lvl2-41 {from {transform: translate3d(82vw, 103vh, 0);} to {transform: translate3d(76vw, -129vh, 0);}}
.lvl2:nth-child(41) .lvl3 {animation-delay: 1323ms;}

.lvl2:nth-child(42) {width: 0.625em; height: 0.625em; animation: lvl2-42 10031ms 7684ms;}
@keyframes lvl2-42 {from {transform: translate3d(39vw, 107vh, 0);} to {transform: translate3d(63vw, -120vh, 0);}}
.lvl2:nth-child(42) .lvl3 {animation-delay: 358ms;}

.lvl2:nth-child(43) {width: 0.1875em; height: 0.1875em; animation: lvl2-43 8564ms 635ms;}
@keyframes lvl2-43 {from {transform: translate3d(15vw, 108vh, 0);} to {transform: translate3d(54vw, -124vh, 0);}}
.lvl2:nth-child(43) .lvl3 {animation-delay: 3459ms;}

.lvl2:nth-child(44) {width: 0.4375em; height: 0.4375em; animation: lvl2-44 9882ms 5908ms;}
@keyframes lvl2-44 {from {transform: translate3d(98vw, 110vh, 0);} to {transform: translate3d(41vw, -138vh, 0);}}
.lvl2:nth-child(44) .lvl3 {animation-delay: 1766ms;}

.lvl2:nth-child(45) {width: 0.375em; height: 0.375em; animation: lvl2-45 7142ms 9647ms;}
@keyframes lvl2-45 {from {transform: translate3d(63vw, 106vh, 0);} to {transform: translate3d(75vw, -119vh, 0);}}
.lvl2:nth-child(45) .lvl3 {animation-delay: 571ms;}

.lvl2:nth-child(46) {width: 0.25em; height: 0.25em; animation: lvl2-46 10227ms 4194ms;}
@keyframes lvl2-46 {from {transform: translate3d(54vw, 103vh, 0);} to {transform: translate3d(54vw, -113vh, 0);}}
.lvl2:nth-child(46) .lvl3 {animation-delay: 3406ms;}

.lvl2:nth-child(47) {width: 0.25em; height: 0.25em; animation: lvl2-47 8558ms 3286ms;}
@keyframes lvl2-47 {from {transform: translate3d(99vw, 107vh, 0);} to {transform: translate3d(9vw, -110vh, 0);}}
.lvl2:nth-child(47) .lvl3 {animation-delay: 292ms;}

.lvl2:nth-child(48) {width: 0.125em; height: 0.125em; animation: lvl2-48 8744ms 2782ms;}
@keyframes lvl2-48 {from {transform: translate3d(89vw, 108vh, 0);} to {transform: translate3d(94vw, -128vh, 0);}}
.lvl2:nth-child(48) .lvl3 {animation-delay: 2356ms;}

.lvl2:nth-child(49) {width: 0.125em; height: 0.125em; animation: lvl2-49 8003ms 5557ms;}
@keyframes lvl2-49 {from {transform: translate3d(22vw, 110vh, 0);} to {transform: translate3d(11vw, -130vh, 0);}}
.lvl2:nth-child(49) .lvl3 {animation-delay: 1857ms;}

.lvl2:nth-child(50) {width: 0.1875em; height: 0.1875em; animation: lvl2-50 9458ms 2357ms;}
@keyframes lvl2-50 {from {transform: translate3d(31vw, 110vh, 0);} to {transform: translate3d(97vw, -130vh, 0);}}
.lvl2:nth-child(50) .lvl3 {animation-delay: 3377ms;}

.lvl2:nth-child(51) {width: 0.0625em; height: 0.0625em;; animation: lvl2-51 7525ms 1518ms;}
@keyframes lvl2-51 {from {transform: translate3d(85vw, 110vh, 0);} to {transform: translate3d(74vw, -126vh, 0);}}
.lvl2:nth-child(51) .lvl3 {animation-delay: 724ms;}

.lvl2:nth-child(52) {width: 0.1875em; height: 0.1875em; animation: lvl2-52 9185ms 8994ms;}
@keyframes lvl2-52 {from {transform: translate3d(37vw, 109vh, 0);} to {transform: translate3d(71vw, -117vh, 0);}}
.lvl2:nth-child(52) .lvl3 {animation-delay: 3936ms;}

.lvl2:nth-child(53) {width: 0.4375em; height: 0.4375em; animation: lvl2-53 10536ms 10548ms;}
@keyframes lvl2-53 {from {transform: translate3d(63vw, 106vh, 0);} to {transform: translate3d(62vw, -124vh, 0);}}
.lvl2:nth-child(53) .lvl3 {animation-delay: 1959ms;}

.lvl2:nth-child(54) {width: 0.4375em; height: 0.4375em; animation: lvl2-54 10715ms 4941ms;}
@keyframes lvl2-54 {from {transform: translate3d(24vw, 110vh, 0);} to {transform: translate3d(87vw, -123vh, 0);}}
.lvl2:nth-child(54) .lvl3 {animation-delay: 649ms;}

.lvl2:nth-child(55) {width: 0.1875em; height: 0.1875em; animation: lvl2-55 8086ms 462ms;}
@keyframes lvl2-55 {from {transform: translate3d(16vw, 105vh, 0);} to {transform: translate3d(47vw, -129vh, 0);}}
.lvl2:nth-child(55) .lvl3 {animation-delay: 3366ms;}

.lvl2:nth-child(56) {width: 0.5625em; height: 0.5625em; animation: lvl2-56 10513ms 6519ms;}
@keyframes lvl2-56 {from {transform: translate3d(6vw, 103vh, 0);} to {transform: translate3d(77vw, -130vh, 0);}}
.lvl2:nth-child(56) .lvl3 {animation-delay: 1517ms;}

.lvl2:nth-child(57) {width: 0.375em; height: 0.375em; animation: lvl2-57 8720ms 1177ms;}
@keyframes lvl2-57 {from {transform: translate3d(83vw, 105vh, 0);} to {transform: translate3d(33vw, -107vh, 0);}}
.lvl2:nth-child(57) .lvl3 {animation-delay: 2349ms;}

.lvl2:nth-child(58) {width: 0.625em; height: 0.625em; animation: lvl2-58 7113ms 3796ms;}
@keyframes lvl2-58 {from {transform: translate3d(22vw, 102vh, 0);} to {transform: translate3d(52vw, -129vh, 0);}}
.lvl2:nth-child(58) .lvl3 {animation-delay: 2007ms;}

.lvl2:nth-child(59) {width: 0.5625em; height: 0.5625em; animation: lvl2-59 7346ms 10700ms;}
@keyframes lvl2-59 {from {transform: translate3d(53vw, 107vh, 0);} to {transform: translate3d(30vw, -128vh, 0);}}
.lvl2:nth-child(59) .lvl3 {animation-delay: 1917ms;}

.lvl2:nth-child(60) {width: 0.5em; height: 0.5em; animation: lvl2-60 9255ms 2651ms;}
@keyframes lvl2-60 {from {transform: translate3d(73vw, 101vh, 0);} to {transform: translate3d(15vw, -110vh, 0);}}
.lvl2:nth-child(60) .lvl3 {animation-delay: 2306ms;}

.lvl2:nth-child(61) {width: 0.25em; height: 0.25em; animation: lvl2-61 8254ms 9032ms;}
@keyframes lvl2-61 {from {transform: translate3d(26vw, 110vh, 0);} to {transform: translate3d(72vw, -112vh, 0);}}
.lvl2:nth-child(61) .lvl3 {animation-delay: 1789ms;}

.lvl2:nth-child(62) {width: 0.375em; height: 0.375em; animation: lvl2-62 8423ms 5765ms;}
@keyframes lvl2-62 {from {transform: translate3d(33vw, 109vh, 0);} to {transform: translate3d(58vw, -113vh, 0);}}
.lvl2:nth-child(62) .lvl3 {animation-delay: 3207ms;}

.lvl2:nth-child(63) {width: 0.625em; height: 0.625em; animation: lvl2-63 10983ms 5827ms;}
@keyframes lvl2-63 {from {transform: translate3d(84vw, 104vh, 0);} to {transform: translate3d(7vw, -107vh, 0);}}
.lvl2:nth-child(63) .lvl3 {animation-delay: 2854ms;}

.lvl2:nth-child(64) {width: 0.375em; height: 0.375em; animation: lvl2-64 8623ms 9965ms;}
@keyframes lvl2-64 {from {transform: translate3d(56vw, 103vh, 0);} to {transform: translate3d(52vw, -104vh, 0);}}
.lvl2:nth-child(64) .lvl3 {animation-delay: 3955ms;}

.lvl2:nth-child(65) {width: 0.625em; height: 0.625em; animation: lvl2-65 7296ms 3180ms;}
@keyframes lvl2-65 {from {transform: translate3d(56vw, 109vh, 0);} to {transform: translate3d(48vw, -123vh, 0);}}
.lvl2:nth-child(65) .lvl3 {animation-delay: 720ms;}

.lvl2:nth-child(66) {width: 0.1875em; height: 0.1875em; animation: lvl2-66 9413ms 5637ms;}
@keyframes lvl2-66 {from {transform: translate3d(79vw, 104vh, 0);} to {transform: translate3d(44vw, -121vh, 0);}}
.lvl2:nth-child(66) .lvl3 {animation-delay: 1350ms;}

.lvl2:nth-child(67) {width: 0.0625em; height: 0.0625em;; animation: lvl2-67 9765ms 7453ms;}
@keyframes lvl2-67 {from {transform: translate3d(51vw, 104vh, 0);} to {transform: translate3d(18vw, -107vh, 0);}}
.lvl2:nth-child(67) .lvl3 {animation-delay: 3363ms;}

.lvl2:nth-child(68) {width: 0.625em; height: 0.625em; animation: lvl2-68 7557ms 5745ms;}
@keyframes lvl2-68 {from {transform: translate3d(22vw, 108vh, 0);} to {transform: translate3d(50vw, -130vh, 0);}}
.lvl2:nth-child(68) .lvl3 {animation-delay: 1992ms;}

.lvl2:nth-child(69) {width: 0.625em; height: 0.625em; animation: lvl2-69 7662ms 183ms;}
@keyframes lvl2-69 {from {transform: translate3d(48vw, 102vh, 0);} to {transform: translate3d(87vw, -116vh, 0);}}
.lvl2:nth-child(69) .lvl3 {animation-delay: 1552ms;}

.lvl2:nth-child(70) {width: 0.0625em; height: 0.0625em;; animation: lvl2-70 9143ms 7832ms;}
@keyframes lvl2-70 {from {transform: translate3d(74vw, 105vh, 0);} to {transform: translate3d(77vw, -116vh, 0);}}
.lvl2:nth-child(70) .lvl3 {animation-delay: 2798ms;}

.lvl2:nth-child(71) {width: 0.25em; height: 0.25em; animation: lvl2-71 7019ms 7917ms;}
@keyframes lvl2-71 {from {transform: translate3d(19vw, 102vh, 0);} to {transform: translate3d(11vw, -111vh, 0);}}
.lvl2:nth-child(71) .lvl3 {animation-delay: 3839ms;}

.lvl2:nth-child(72) {width: 0.4375em; height: 0.4375em; animation: lvl2-72 7835ms 5914ms;}
@keyframes lvl2-72 {from {transform: translate3d(2vw, 101vh, 0);} to {transform: translate3d(9vw, -116vh, 0);}}
.lvl2:nth-child(72) .lvl3 {animation-delay: 1953ms;}

.lvl2:nth-child(73) {width: 0.125em; height: 0.125em; animation: lvl2-73 8569ms 7173ms;}
@keyframes lvl2-73 {from {transform: translate3d(61vw, 110vh, 0);} to {transform: translate3d(30vw, -131vh, 0);}}
.lvl2:nth-child(73) .lvl3 {animation-delay: 3716ms;}

.lvl2:nth-child(74) {width: 0.0625em; height: 0.0625em;; animation: lvl2-74 9321ms 7473ms;}
@keyframes lvl2-74 {from {transform: translate3d(64vw, 101vh, 0);} to {transform: translate3d(83vw, -109vh, 0);}}
.lvl2:nth-child(74) .lvl3 {animation-delay: 236ms;}

.lvl2:nth-child(75) {width: 0.625em; height: 0.625em; animation: lvl2-75 8987ms 9234ms;}
@keyframes lvl2-75 {from {transform: translate3d(96vw, 103vh, 0);} to {transform: translate3d(65vw, -129vh, 0);}}
.lvl2:nth-child(75) .lvl3 {animation-delay: 930ms;}

.lvl2:nth-child(76) {width: 0.625em; height: 0.625em; animation: lvl2-76 10179ms 8495ms;}
@keyframes lvl2-76 {from {transform: translate3d(32vw, 104vh, 0);} to {transform: translate3d(53vw, -113vh, 0);}}
.lvl2:nth-child(76) .lvl3 {animation-delay: 316ms;}

.lvl2:nth-child(77) {width: 0.1875em; height: 0.1875em; animation: lvl2-77 9762ms 10470ms;}
@keyframes lvl2-77 {from {transform: translate3d(66vw, 108vh, 0);} to {transform: translate3d(4vw, -138vh, 0);}}
.lvl2:nth-child(77) .lvl3 {animation-delay: 1810ms;}

.lvl2:nth-child(78) {width: 0.375em; height: 0.375em; animation: lvl2-78 10812ms 3580ms;}
@keyframes lvl2-78 {from {transform: translate3d(44vw, 110vh, 0);} to {transform: translate3d(59vw, -128vh, 0);}}
.lvl2:nth-child(78) .lvl3 {animation-delay: 279ms;}

.lvl2:nth-child(79) {width: 0.5625em; height: 0.5625em; animation: lvl2-79 9744ms 682ms;}
@keyframes lvl2-79 {from {transform: translate3d(57vw, 110vh, 0);} to {transform: translate3d(7vw, -113vh, 0);}}
.lvl2:nth-child(79) .lvl3 {animation-delay: 296ms;}

.lvl2:nth-child(80) {width: 0.375em; height: 0.375em; animation: lvl2-80 9097ms 4335ms;}
@keyframes lvl2-80 {from {transform: translate3d(75vw, 105vh, 0);} to {transform: translate3d(51vw, -108vh, 0);}}
.lvl2:nth-child(80) .lvl3 {animation-delay: 507ms;}

.lvl2:nth-child(81) {width: 0.3125em; height: 0.3125em; animation: lvl2-81 8922ms 4582ms;}
@keyframes lvl2-81 {from {transform: translate3d(11vw, 107vh, 0);} to {transform: translate3d(43vw, -125vh, 0);}}
.lvl2:nth-child(81) .lvl3 {animation-delay: 3183ms;}

.lvl2:nth-child(82) {width: 0.125em; height: 0.125em; animation: lvl2-82 9851ms 984ms;}
@keyframes lvl2-82 {from {transform: translate3d(49vw, 102vh, 0);} to {transform: translate3d(96vw, -118vh, 0);}}
.lvl2:nth-child(82) .lvl3 {animation-delay: 1973ms;}

.lvl2:nth-child(83) {width: 0.3125em; height: 0.3125em; animation: lvl2-83 9603ms 3591ms;}
@keyframes lvl2-83 {from {transform: translate3d(59vw, 107vh, 0);} to {transform: translate3d(19vw, -115vh, 0);}}
.lvl2:nth-child(83) .lvl3 {animation-delay: 3452ms;}

.lvl2:nth-child(84) {width: 0.25em; height: 0.25em; animation: lvl2-84 8450ms 4872ms;}
@keyframes lvl2-84 {from {transform: translate3d(81vw, 109vh, 0);} to {transform: translate3d(65vw, -136vh, 0);}}
.lvl2:nth-child(84) .lvl3 {animation-delay: 2813ms;}

.lvl2:nth-child(85) {width: 0.1875em; height: 0.1875em; animation: lvl2-85 7199ms 7867ms;}
@keyframes lvl2-85 {from {transform: translate3d(5vw, 102vh, 0);} to {transform: translate3d(59vw, -117vh, 0);}}
.lvl2:nth-child(85) .lvl3 {animation-delay: 2952ms;}

.lvl2:nth-child(86) {width: 0.4375em; height: 0.4375em; animation: lvl2-86 7924ms 8020ms;}
@keyframes lvl2-86 {from {transform: translate3d(61vw, 108vh, 0);} to {transform: translate3d(70vw, -118vh, 0);}}
.lvl2:nth-child(86) .lvl3 {animation-delay: 1446ms;}

.lvl2:nth-child(87) {width: 0.0625em; height: 0.0625em;; animation: lvl2-87 7508ms 8672ms;}
@keyframes lvl2-87 {from {transform: translate3d(3vw, 106vh, 0);} to {transform: translate3d(44vw, -134vh, 0);}}
.lvl2:nth-child(87) .lvl3 {animation-delay: 3455ms;}

.lvl2:nth-child(88) {width: 0.0625em; height: 0.0625em;; animation: lvl2-88 8747ms 2716ms;}
@keyframes lvl2-88 {from {transform: translate3d(31vw, 103vh, 0);} to {transform: translate3d(18vw, -132vh, 0);}}
.lvl2:nth-child(88) .lvl3 {animation-delay: 1214ms;}

.lvl2:nth-child(89) {width: 0.125em; height: 0.125em; animation: lvl2-89 9021ms 1785ms;}
@keyframes lvl2-89 {from {transform: translate3d(99vw, 105vh, 0);} to {transform: translate3d(93vw, -117vh, 0);}}
.lvl2:nth-child(89) .lvl3 {animation-delay: 1613ms;}

.lvl2:nth-child(90) {width: 0.3125em; height: 0.3125em; animation: lvl2-90 8597ms 6736ms;}
@keyframes lvl2-90 {from {transform: translate3d(43vw, 108vh, 0);} to {transform: translate3d(76vw, -134vh, 0);}}
.lvl2:nth-child(90) .lvl3 {animation-delay: 3840ms;}

.lvl2:nth-child(91) {width: 0.0625em; height: 0.0625em;; animation: lvl2-91 10168ms 6651ms;}
@keyframes lvl2-91 {from {transform: translate3d(84vw, 107vh, 0);} to {transform: translate3d(77vw, -109vh, 0);}}
.lvl2:nth-child(91) .lvl3 {animation-delay: 3738ms;}

.lvl2:nth-child(92) {width: 0.375em; height: 0.375em; animation: lvl2-92 7479ms 9189ms;}
@keyframes lvl2-92 {from {transform: translate3d(67vw, 107vh, 0);} to {transform: translate3d(60vw, -135vh, 0);}}
.lvl2:nth-child(92) .lvl3 {animation-delay: 3353ms;}

.lvl2:nth-child(93) {width: 0.625em; height: 0.625em; animation: lvl2-93 8042ms 1944ms;}
@keyframes lvl2-93 {from {transform: translate3d(17vw, 101vh, 0);} to {transform: translate3d(56vw, -115vh, 0);}}
.lvl2:nth-child(93) .lvl3 {animation-delay: 341ms;}

.lvl2:nth-child(94) {width: 0.0625em; height: 0.0625em;; animation: lvl2-94 7859ms 5901ms;}
@keyframes lvl2-94 {from {transform: translate3d(71vw, 105vh, 0);} to {transform: translate3d(6vw, -123vh, 0);}}
.lvl2:nth-child(94) .lvl3 {animation-delay: 3244ms;}

.lvl2:nth-child(95) {width: 0.375em; height: 0.375em; animation: lvl2-95 9560ms 6534ms;}
@keyframes lvl2-95 {from {transform: translate3d(88vw, 109vh, 0);} to {transform: translate3d(36vw, -123vh, 0);}}
.lvl2:nth-child(95) .lvl3 {animation-delay: 364ms;}

.lvl2:nth-child(96) {width: 0.5625em; height: 0.5625em; animation: lvl2-96 10816ms 10982ms;}
@keyframes lvl2-96 {from {transform: translate3d(61vw, 106vh, 0);} to {transform: translate3d(53vw, -110vh, 0);}}
.lvl2:nth-child(96) .lvl3 {animation-delay: 1233ms;}

.lvl2:nth-child(97) {width: 0.25em; height: 0.25em; animation: lvl2-97 10555ms 8540ms;}
@keyframes lvl2-97 {from {transform: translate3d(37vw, 106vh, 0);} to {transform: translate3d(19vw, -108vh, 0);}}
.lvl2:nth-child(97) .lvl3 {animation-delay: 3966ms;}

.lvl2:nth-child(98) {width: 0.625em; height: 0.625em; animation: lvl2-98 7830ms 7153ms;}
@keyframes lvl2-98 {from {transform: translate3d(55vw, 106vh, 0);} to {transform: translate3d(40vw, -126vh, 0);}}
.lvl2:nth-child(98) .lvl3 {animation-delay: 291ms;}

.lvl2:nth-child(99) {width: 0.4375em; height: 0.4375em; animation: lvl2-99 9393ms 3766ms;}
@keyframes lvl2-99 {from {transform: translate3d(81vw, 106vh, 0);} to {transform: translate3d(31vw, -120vh, 0);}}
.lvl2:nth-child(99) .lvl3 {animation-delay: 3316ms;}

.lvl2:nth-child(100) {width: 0.25em; height: 0.25em; animation: lvl2-100 9861ms 2128ms;}
@keyframes lvl2-100 {from {transform: translate3d(99vw, 110vh, 0);} to {transform: translate3d(31vw, -122vh, 0);}}
.lvl2:nth-child(100) .lvl3 {animation-delay: 2616ms;}

.lvl2:nth-child(101) {width: 0.25em; height: 0.25em; animation: lvl2-101 10677ms 9483ms;}
@keyframes lvl2-101 {from {transform: translate3d(58vw, 104vh, 0);} to {transform: translate3d(72vw, -114vh, 0);}}
.lvl2:nth-child(101) .lvl3 {animation-delay: 3768ms;}

.lvl2:nth-child(102) {width: 0.1875em; height: 0.1875em; animation: lvl2-102 8063ms 1861ms;}
@keyframes lvl2-102 {from {transform: translate3d(49vw, 107vh, 0);} to {transform: translate3d(63vw, -133vh, 0);}}
.lvl2:nth-child(102) .lvl3 {animation-delay: 3320ms;}

.lvl2:nth-child(103) {width: 0.3125em; height: 0.3125em; animation: lvl2-103 8220ms 3646ms;}
@keyframes lvl2-103 {from {transform: translate3d(27vw, 110vh, 0);} to {transform: translate3d(64vw, -112vh, 0);}}
.lvl2:nth-child(103) .lvl3 {animation-delay: 1278ms;}

.lvl2:nth-child(104) {width: 0.25em; height: 0.25em; animation: lvl2-104 10052ms 7276ms;}
@keyframes lvl2-104 {from {transform: translate3d(34vw, 109vh, 0);} to {transform: translate3d(59vw, -116vh, 0);}}
.lvl2:nth-child(104) .lvl3 {animation-delay: 559ms;}

.lvl2:nth-child(105) {width: 0.625em; height: 0.625em; animation: lvl2-105 7173ms 5846ms;}
@keyframes lvl2-105 {from {transform: translate3d(58vw, 106vh, 0);} to {transform: translate3d(8vw, -108vh, 0);}}
.lvl2:nth-child(105) .lvl3 {animation-delay: 430ms;}

.lvl2:nth-child(106) {width: 0.625em; height: 0.625em; animation: lvl2-106 9491ms 3841ms;}
@keyframes lvl2-106 {from {transform: translate3d(27vw, 101vh, 0);} to {transform: translate3d(7vw, -130vh, 0);}}
.lvl2:nth-child(106) .lvl3 {animation-delay: 2963ms;}

.lvl2:nth-child(107) {width: 0.4375em; height: 0.4375em; animation: lvl2-107 10685ms 7806ms;}
@keyframes lvl2-107 {from {transform: translate3d(36vw, 103vh, 0);} to {transform: translate3d(30vw, -118vh, 0);}}
.lvl2:nth-child(107) .lvl3 {animation-delay: 520ms;}

.lvl2:nth-child(108) {width: 0.625em; height: 0.625em; animation: lvl2-108 10955ms 5377ms;}
@keyframes lvl2-108 {from {transform: translate3d(28vw, 103vh, 0);} to {transform: translate3d(10vw, -114vh, 0);}}
.lvl2:nth-child(108) .lvl3 {animation-delay: 1837ms;}

.lvl2:nth-child(109) {width: 0.5em; height: 0.5em; animation: lvl2-109 8092ms 6015ms;}
@keyframes lvl2-109 {from {transform: translate3d(55vw, 103vh, 0);} to {transform: translate3d(77vw, -123vh, 0);}}
.lvl2:nth-child(109) .lvl3 {animation-delay: 1104ms;}

.lvl2:nth-child(110) {width: 0.125em; height: 0.125em; animation: lvl2-110 8375ms 7006ms;}
@keyframes lvl2-110 {from {transform: translate3d(33vw, 102vh, 0);} to {transform: translate3d(32vw, -124vh, 0);}}
.lvl2:nth-child(110) .lvl3 {animation-delay: 321ms;}

.lvl2:nth-child(111) {width: 0.4375em; height: 0.4375em; animation: lvl2-111 10425ms 1706ms;}
@keyframes lvl2-111 {from {transform: translate3d(19vw, 109vh, 0);} to {transform: translate3d(65vw, -132vh, 0);}}
.lvl2:nth-child(111) .lvl3 {animation-delay: 2060ms;}

.lvl2:nth-child(112) {width: 0.5em; height: 0.5em; animation: lvl2-112 7960ms 5474ms;}
@keyframes lvl2-112 {from {transform: translate3d(50vw, 101vh, 0);} to {transform: translate3d(94vw, -110vh, 0);}}
.lvl2:nth-child(112) .lvl3 {animation-delay: 3700ms;}

.lvl2:nth-child(113) {width: 0.4375em; height: 0.4375em; animation: lvl2-113 8756ms 1806ms;}
@keyframes lvl2-113 {from {transform: translate3d(79vw, 108vh, 0);} to {transform: translate3d(69vw, -116vh, 0);}}
.lvl2:nth-child(113) .lvl3 {animation-delay: 49ms;}

.lvl2:nth-child(114) {width: 0.5625em; height: 0.5625em; animation: lvl2-114 7837ms 7780ms;}
@keyframes lvl2-114 {from {transform: translate3d(60vw, 102vh, 0);} to {transform: translate3d(84vw, -131vh, 0);}}
.lvl2:nth-child(114) .lvl3 {animation-delay: 3836ms;}
.lvl2:nth-child(115) {width: 0.625em; height: 0.625em; animation: lvl2-115 10609ms 6887ms;}
@keyframes lvl2-115 {from {transform: translate3d(67vw, 101vh, 0);} to {transform: translate3d(92vw, -114vh, 0);}}
.lvl2:nth-child(115) .lvl3 {animation-delay: 1596ms;}

.lvl2:nth-child(116) {width: 0.1875em; height: 0.1875em; animation: lvl2-116 7800ms 2848ms;}
@keyframes lvl2-116 {from {transform: translate3d(17vw, 105vh, 0);} to {transform: translate3d(93vw, -124vh, 0);}}
.lvl2:nth-child(116) .lvl3 {animation-delay: 692ms;}

.lvl2:nth-child(117) {width: 0.1875em; height: 0.1875em; animation: lvl2-117 8003ms 2386ms;}
@keyframes lvl2-117 {from {transform: translate3d(5vw, 106vh, 0);} to {transform: translate3d(55vw, -112vh, 0);}}
.lvl2:nth-child(117) .lvl3 {animation-delay: 3631ms;}

.lvl2:nth-child(118) {width: 0.0625em; height: 0.0625em; animation: lvl2-118 7615ms 6034ms;}
@keyframes lvl2-118 {from {transform: translate3d(81vw, 110vh, 0);} to {transform: translate3d(45vw, -129vh, 0);}}
.lvl2:nth-child(118) .lvl3 {animation-delay: 891ms;}

.lvl2:nth-child(119) {width: 0.3125em; height: 0.3125em; animation: lvl2-119 8190ms 7712ms;}
@keyframes lvl2-119 {from {transform: translate3d(62vw, 110vh, 0);} to {transform: translate3d(33vw, -111vh, 0);}}
.lvl2:nth-child(119) .lvl3 {animation-delay: 2645ms;}

.lvl2:nth-child(120) {width: 0.5em; height: 0.5em; animation: lvl2-120 9335ms 2670ms;}
@keyframes lvl2-120 {from {transform: translate3d(49vw, 105vh, 0);} to {transform: translate3d(38vw, -109vh, 0);}}
.lvl2:nth-child(120) .lvl3 {animation-delay: 1918ms;}

.lvl2:nth-child(121) {width: 0.625em; height: 0.625em; animation: lvl2-121 9924ms 6551ms;}
@keyframes lvl2-121 {from {transform: translate3d(69vw, 102vh, 0);} to {transform: translate3d(95vw, -115vh, 0);}}
.lvl2:nth-child(121) .lvl3 {animation-delay: 362ms;}

.lvl2:nth-child(122) {width: 0.3125em; height: 0.3125em; animation: lvl2-122 9348ms 9833ms;}
@keyframes lvl2-122 {from {transform: translate3d(82vw, 109vh, 0);} to {transform: translate3d(11vw, -118vh, 0);}}
.lvl2:nth-child(122) .lvl3 {animation-delay: 1835ms;}

.lvl2:nth-child(123) {width: 0.625em; height: 0.625em; animation: lvl2-123 7661ms 2191ms;}
@keyframes lvl2-123 {from {transform: translate3d(89vw, 102vh, 0);} to {transform: translate3d(51vw, -104vh, 0);}}
.lvl2:nth-child(123) .lvl3 {animation-delay: 1936ms;}

.lvl2:nth-child(124) {width: 0.5em; height: 0.5em; animation: lvl2-124 8836ms 3501ms;}
@keyframes lvl2-124 {from {transform: translate3d(63vw, 102vh, 0);} to {transform: translate3d(43vw, -130vh, 0);}}
.lvl2:nth-child(124) .lvl3 {animation-delay: 2057ms;}

.lvl2:nth-child(125) {width: 0.625em; height: 0.625em; animation: lvl2-125 7195ms 1112ms;}
@keyframes lvl2-125 {from {transform: translate3d(96vw, 105vh, 0);} to {transform: translate3d(72vw, -117vh, 0);}}
.lvl2:nth-child(125) .lvl3 {animation-delay: 1358ms;}

.lvl2:nth-child(126) {width: 0.1875em; height: 0.1875em; animation: lvl2-126 10074ms 733ms;}
@keyframes lvl2-126 {from {transform: translate3d(16vw, 102vh, 0);} to {transform: translate3d(46vw, -129vh, 0);}}
.lvl2:nth-child(126) .lvl3 {animation-delay: 983ms;}

.lvl2:nth-child(127) {width: 0.125em; height: 0.125em; animation: lvl2-127 9157ms 618ms;}
@keyframes lvl2-127 {from {transform: translate3d(71vw, 110vh, 0);} to {transform: translate3d(68vw, -136vh, 0);}}
.lvl2:nth-child(127) .lvl3 {animation-delay: 2202ms;}

.lvl2:nth-child(128) {width: 0.0625em; height: 0.0625em; animation: lvl2-128 8108ms 8793ms;}
@keyframes lvl2-128 {from {transform: translate3d(26vw, 108vh, 0);} to {transform: translate3d(96vw, -125vh, 0);}}
.lvl2:nth-child(128) .lvl3 {animation-delay: 2332ms;}

.lvl2:nth-child(129) {width: 0.125em; height: 0.125em; animation: lvl2-129 8318ms 2662ms;}
@keyframes lvl2-129 {from {transform: translate3d(39vw, 103vh, 0);} to {transform: translate3d(10vw, -112vh, 0);}}
.lvl2:nth-child(129) .lvl3 {animation-delay: 2469ms;}

.lvl2:nth-child(130) {width: 0.0625em; height: 0.0625em; animation: lvl2-130 10199ms 9873ms;}
@keyframes lvl2-130 {from {transform: translate3d(67vw, 107vh, 0);} to {transform: translate3d(3vw, -115vh, 0);}}
.lvl2:nth-child(130) .lvl3 {animation-delay: 784ms;}

.lvl2:nth-child(131) {width: 0.5625em; height: 0.5625em; animation: lvl2-131 10925ms 9159ms;}
@keyframes lvl2-131 {from {transform: translate3d(43vw, 107vh, 0);} to {transform: translate3d(75vw, -108vh, 0);}}
.lvl2:nth-child(131) .lvl3 {animation-delay: 3127ms;}

.lvl2:nth-child(132) {width: 0.0625em; height: 0.0625em; animation: lvl2-132 10105ms 2688ms;}
@keyframes lvl2-132 {from {transform: translate3d(60vw, 108vh, 0);} to {transform: translate3d(90vw, -132vh, 0);}}
.lvl2:nth-child(132) .lvl3 {animation-delay: 449ms;}

.lvl2:nth-child(133) {width: 0.3125em; height: 0.3125em; animation: lvl2-133 10397ms 9067ms;}
@keyframes lvl2-133 {from {transform: translate3d(53vw, 108vh, 0);} to {transform: translate3d(80vw, -128vh, 0);}}
.lvl2:nth-child(133) .lvl3 {animation-delay: 2134ms;}

.lvl2:nth-child(134) {width: 0.375em; height: 0.375em; animation: lvl2-134 8475ms 8750ms;}
@keyframes lvl2-134 {from {transform: translate3d(30vw, 102vh, 0);} to {transform: translate3d(27vw, -113vh, 0);}}
.lvl2:nth-child(134) .lvl3 {animation-delay: 1746ms;}

.lvl2:nth-child(135) {width: 0.25em; height: 0.25em; animation: lvl2-135 10781ms 5298ms;}
@keyframes lvl2-135 {from {transform: translate3d(32vw, 106vh, 0);} to {transform: translate3d(1vw, -127vh, 0);}}
.lvl2:nth-child(135) .lvl3 {animation-delay: 2149ms;}

.lvl2:nth-child(136) {width: 0.5625em; height: 0.5625em; animation: lvl2-136 9786ms 6017ms;}
@keyframes lvl2-136 {from {transform: translate3d(83vw, 102vh, 0);} to {transform: translate3d(7vw, -105vh, 0);}}
.lvl2:nth-child(136) .lvl3 {animation-delay: 2836ms;}

.lvl2:nth-child(137) {width: 0.5em; height: 0.5em; animation: lvl2-137 7550ms 6074ms;}
@keyframes lvl2-137 {from {transform: translate3d(36vw, 108vh, 0);} to {transform: translate3d(65vw, -123vh, 0);}}
.lvl2:nth-child(137) .lvl3 {animation-delay: 1632ms;}

.lvl2:nth-child(138) {width: 0.25em; height: 0.25em; animation: lvl2-138 10381ms 4996ms;}
@keyframes lvl2-138 {from {transform: translate3d(22vw, 105vh, 0);} to {transform: translate3d(18vw, -107vh, 0);}}
.lvl2:nth-child(138) .lvl3 {animation-delay: 391ms;}

.lvl2:nth-child(139) {width: 0.3125em; height: 0.3125em; animation: lvl2-139 10427ms 953ms;}
@keyframes lvl2-139 {from {transform: translate3d(77vw, 105vh, 0);} to {transform: translate3d(1vw, -115vh, 0);}}
.lvl2:nth-child(139) .lvl3 {animation-delay: 1901ms;}

.lvl2:nth-child(140) {width: 0.625em; height: 0.625em; animation: lvl2-140 10703ms 8253ms;}
@keyframes lvl2-140 {from {transform: translate3d(48vw, 101vh, 0);} to {transform: translate3d(4vw, -125vh, 0);}}
.lvl2:nth-child(140) .lvl3 {animation-delay: 605ms;}

.lvl2:nth-child(141) {width: 0.5em; height: 0.5em; animation: lvl2-141 8491ms 818ms;}
@keyframes lvl2-141 {from {transform: translate3d(29vw, 106vh, 0);} to {transform: translate3d(45vw, -119vh, 0);}}
.lvl2:nth-child(141) .lvl3 {animation-delay: 1585ms;}

.lvl2:nth-child(142) {width: 0.5625em; height: 0.5625em; animation: lvl2-142 9598ms 8666ms;}
@keyframes lvl2-142 {from {transform: translate3d(91vw, 109vh, 0);} to {transform: translate3d(100vw, -116vh, 0);}}
.lvl2:nth-child(142) .lvl3 {animation-delay: 2826ms;}

.lvl2:nth-child(143) {width: 0.5625em; height: 0.5625em; animation: lvl2-143 7332ms 6220ms;}
@keyframes lvl2-143 {from {transform: translate3d(55vw, 102vh, 0);} to {transform: translate3d(27vw, -117vh, 0);}}
.lvl2:nth-child(143) .lvl3 {animation-delay: 152ms;}

.lvl2:nth-child(144) {width: 0.375em; height: 0.375em; animation: lvl2-144 10700ms 6682ms;}
@keyframes lvl2-144 {from {transform: translate3d(95vw, 106vh, 0);} to {transform: translate3d(19vw, -107vh, 0);}}
.lvl2:nth-child(144) .lvl3 {animation-delay: 1371ms;}

.lvl2:nth-child(145) {width: 0.375em; height: 0.375em; animation: lvl2-145 8255ms 107ms;}
@keyframes lvl2-145 {from {transform: translate3d(3vw, 105vh, 0);} to {transform: translate3d(92vw, -131vh, 0);}}
.lvl2:nth-child(145) .lvl3 {animation-delay: 2198ms;}

.lvl2:nth-child(146) {width: 0.1875em; height: 0.1875em; animation: lvl2-146 9357ms 1775ms;}
@keyframes lvl2-146 {from {transform: translate3d(96vw, 110vh, 0);} to {transform: translate3d(15vw, -137vh, 0);}}
.lvl2:nth-child(146) .lvl3 {animation-delay: 3824ms;}

.lvl2:nth-child(147) {width: 0.1875em; height: 0.1875em; animation: lvl2-147 9636ms 5693ms;}
@keyframes lvl2-147 {from {transform: translate3d(80vw, 101vh, 0);} to {transform: translate3d(27vw, -131vh, 0);}}
.lvl2:nth-child(147) .lvl3 {animation-delay: 1185ms;}

.lvl2:nth-child(148) {width: 0.5625em; height: 0.5625em; animation: lvl2-148 8388ms 4022ms;}
@keyframes lvl2-148 {from {transform: translate3d(100vw, 103vh, 0);} to {transform: translate3d(30vw, -128vh, 0);}}
.lvl2:nth-child(148) .lvl3 {animation-delay: 2385ms;}

.lvl2:nth-child(149) {width: 0.4375em; height: 0.4375em; animation: lvl2-149 7866ms 777ms;}
@keyframes lvl2-149 {from {transform: translate3d(7vw, 108vh, 0);} to {transform: translate3d(63vw, -118vh, 0);}}
.lvl2:nth-child(149) .lvl3 {animation-delay: 13ms;}

.lvl2:nth-child(150) {width: 0.4375em; height: 0.4375em; animation: lvl2-150 10879ms 1071ms;}
@keyframes lvl2-150 {from {transform: translate3d(53vw, 109vh, 0);} to {transform: translate3d(35vw, -131vh, 0);}}
.lvl2:nth-child(150) .lvl3 {animation-delay: 1276ms;}

.lvl2:nth-child(151) {width: 0.5625em; height: 0.5625em; animation: lvl2-151 7424ms 10626ms;}
@keyframes lvl2-151 {from {transform: translate3d(85vw, 106vh, 0);} to {transform: translate3d(15vw, -130vh, 0);}}
.lvl2:nth-child(151) .lvl3 {animation-delay: 1354ms;}

.lvl2:nth-child(152) {width: 0.375em; height: 0.375em; animation: lvl2-152 7291ms 10714ms;}
@keyframes lvl2-152 {from {transform: translate3d(76vw, 109vh, 0);} to {transform: translate3d(55vw, -134vh, 0);}}
.lvl2:nth-child(152) .lvl3 {animation-delay: 1733ms;}

.lvl2:nth-child(153) {width: 0.4375em; height: 0.4375em; animation: lvl2-153 10009ms 10735ms;}
@keyframes lvl2-153 {from {transform: translate3d(91vw, 101vh, 0);} to {transform: translate3d(50vw, -125vh, 0);}}
.lvl2:nth-child(153) .lvl3 {animation-delay: 2299ms;}

.lvl2:nth-child(154) {width: 0.625em; height: 0.625em; animation: lvl2-154 9114ms 3423ms;}
@keyframes lvl2-154 {from {transform: translate3d(5vw, 102vh, 0);} to {transform: translate3d(17vw, -116vh, 0);}}
.lvl2:nth-child(154) .lvl3 {animation-delay: 340ms;}

.lvl2:nth-child(155) {width: 0.625em; height: 0.625em; animation: lvl2-155 7090ms 4787ms;}
@keyframes lvl2-155 {from {transform: translate3d(94vw, 103vh, 0);} to {transform: translate3d(46vw, -112vh, 0);}}
.lvl2:nth-child(155) .lvl3 {animation-delay: 2989ms;}

.lvl2:nth-child(156) {width: 0.625em; height: 0.625em; animation: lvl2-156 7561ms 10454ms;}
@keyframes lvl2-156 {from {transform: translate3d(99vw, 103vh, 0);} to {transform: translate3d(36vw, -107vh, 0);}}
.lvl2:nth-child(156) .lvl3 {animation-delay: 3160ms;}

.lvl2:nth-child(157) {width: 0.1875em; height: 0.1875em; animation: lvl2-157 7523ms 3126ms;}
@keyframes lvl2-157 {from {transform: translate3d(67vw, 102vh, 0);} to {transform: translate3d(61vw, -128vh, 0);}}
.lvl2:nth-child(157) .lvl3 {animation-delay: 3293ms;}

.lvl2:nth-child(158) {width: 0.25em; height: 0.25em; animation: lvl2-158 7798ms 10293ms;}
@keyframes lvl2-158 {from {transform: translate3d(69vw, 106vh, 0);} to {transform: translate3d(1vw, -133vh, 0);}}
.lvl2:nth-child(158) .lvl3 {animation-delay: 598ms;}

.lvl2:nth-child(159) {width: 0.1875em; height: 0.1875em; animation: lvl2-159 8708ms 5014ms;}
@keyframes lvl2-159 {from {transform: translate3d(60vw, 109vh, 0);} to {transform: translate3d(31vw, -126vh, 0);}}
.lvl2:nth-child(159) .lvl3 {animation-delay: 1144ms;}

.lvl2:nth-child(160) {width: 0.1875em; height: 0.1875em; animation: lvl2-160 7399ms 485ms;}
@keyframes lvl2-160 {from {transform: translate3d(22vw, 102vh, 0);} to {transform: translate3d(54vw, -105vh, 0);}}
.lvl2:nth-child(160) .lvl3 {animation-delay: 1210ms;}

.lvl2:nth-child(161) {width: 0.25em; height: 0.25em; animation: lvl2-161 10024ms 21ms;}
@keyframes lvl2-161 {from {transform: translate3d(38vw, 108vh, 0);} to {transform: translate3d(57vw, -128vh, 0);}}
.lvl2:nth-child(161) .lvl3 {animation-delay: 1591ms;}

.lvl2:nth-child(162) {width: 0.0625em; height: 0.0625em; animation: lvl2-162 7463ms 4963ms;}
@keyframes lvl2-162 {from {transform: translate3d(26vw, 103vh, 0);} to {transform: translate3d(26vw, -113vh, 0);}}
.lvl2:nth-child(162) .lvl3 {animation-delay: 1168ms;}

.lvl2:nth-child(163) {width: 0.625em; height: 0.625em; animation: lvl2-163 10524ms 6049ms;}
@keyframes lvl2-163 {from {transform: translate3d(19vw, 101vh, 0);} to {transform: translate3d(22vw, -109vh, 0);}}
.lvl2:nth-child(163) .lvl3 {animation-delay: 2910ms;}

.lvl2:nth-child(164) {width: 0.625em; height: 0.625em; animation: lvl2-164 10207ms 9118ms;}
@keyframes lvl2-164 {from {transform: translate3d(26vw, 104vh, 0);} to {transform: translate3d(2vw, -105vh, 0);}}
.lvl2:nth-child(164) .lvl3 {animation-delay: 57ms;}

.lvl2:nth-child(165) {width: 0.375em; height: 0.375em; animation: lvl2-165 8869ms 6184ms;}
@keyframes lvl2-165 {from {transform: translate3d(87vw, 107vh, 0);} to {transform: translate3d(99vw, -123vh, 0);}}
.lvl2:nth-child(165) .lvl3 {animation-delay: 1906ms;}

.lvl2:nth-child(166) {width: 0.5625em; height: 0.5625em; animation: lvl2-166 9992ms 33ms;}
@keyframes lvl2-166 {from {transform: translate3d(57vw, 106vh, 0);} to {transform: translate3d(44vw, -133vh, 0);}}
.lvl2:nth-child(166) .lvl3 {animation-delay: 216ms;}

.lvl2:nth-child(167) {width: 0.1875em; height: 0.1875em; animation: lvl2-167 7957ms 6847ms;}
@keyframes lvl2-167 {from {transform: translate3d(52vw, 110vh, 0);} to {transform: translate3d(60vw, -116vh, 0);}}
.lvl2:nth-child(167) .lvl3 {animation-delay: 707ms;}

.lvl2:nth-child(168) {width: 0.5em; height: 0.5em; animation: lvl2-168 8018ms 9146ms;}
@keyframes lvl2-168 {from {transform: translate3d(12vw, 108vh, 0);} to {transform: translate3d(80vw, -132vh, 0);}}
.lvl2:nth-child(168) .lvl3 {animation-delay: 909ms;}

.lvl2:nth-child(169) {width: 0.25em; height: 0.25em; animation: lvl2-169 8805ms 2796ms;}
@keyframes lvl2-169 {from {transform: translate3d(68vw, 102vh, 0);} to {transform: translate3d(42vw, -121vh, 0);}}
.lvl2:nth-child(169) .lvl3 {animation-delay: 907ms;}

.lvl2:nth-child(170) {width: 0.3125em; height: 0.3125em; animation: lvl2-170 7840ms 1737ms;}
@keyframes lvl2-170 {from {transform: translate3d(80vw, 109vh, 0);} to {transform: translate3d(3vw, -119vh, 0);}}
.lvl2:nth-child(170) .lvl3 {animation-delay: 864ms;}

.lvl2:nth-child(171) {width: 0.375em; height: 0.375em; animation: lvl2-171 10790ms 6570ms;}
@keyframes lvl2-171 {from {transform: translate3d(88vw, 101vh, 0);} to {transform: translate3d(82vw, -123vh, 0);}}
.lvl2:nth-child(171) .lvl3 {animation-delay: 1030ms;}

.lvl2:nth-child(172) {width: 0.375em; height: 0.375em; animation: lvl2-172 9805ms 4529ms;}
@keyframes lvl2-172 {from {transform: translate3d(7vw, 107vh, 0);} to {transform: translate3d(81vw, -121vh, 0);}}
.lvl2:nth-child(172) .lvl3 {animation-delay: 170ms;}

.lvl2:nth-child(173) {width: 0.625em; height: 0.625em; animation: lvl2-173 8470ms 5322ms;}
@keyframes lvl2-173 {from {transform: translate3d(2vw, 108vh, 0);} to {transform: translate3d(37vw, -128vh, 0);}}
.lvl2:nth-child(173) .lvl3 {animation-delay: 605ms;}

.lvl2:nth-child(174) {width: 0.375em; height: 0.375em; animation: lvl2-174 8140ms 8186ms;}
@keyframes lvl2-174 {from {transform: translate3d(13vw, 106vh, 0);} to {transform: translate3d(54vw, -119vh, 0);}}
.lvl2:nth-child(174) .lvl3 {animation-delay: 2915ms;}

.lvl2:nth-child(175) {width: 0.5em; height: 0.5em; animation: lvl2-175 9403ms 2528ms;}
@keyframes lvl2-175 {from {transform: translate3d(15vw, 109vh, 0);} to {transform: translate3d(2vw, -129vh, 0);}}
.lvl2:nth-child(175) .lvl3 {animation-delay: 3869ms;}

.lvl2:nth-child(176) {width: 0.0625em; height: 0.0625em; animation: lvl2-176 10906ms 8984ms;}
@keyframes lvl2-176 {from {transform: translate3d(45vw, 102vh, 0);} to {transform: translate3d(7vw, -120vh, 0);}}
.lvl2:nth-child(176) .lvl3 {animation-delay: 213ms;}

.lvl2:nth-child(177) {width: 0.625em; height: 0.625em; animation: lvl2-177 8455ms 10609ms;}
@keyframes lvl2-177 {from {transform: translate3d(12vw, 107vh, 0);} to {transform: translate3d(25vw, -122vh, 0);}}
.lvl2:nth-child(177) .lvl3 {animation-delay: 1690ms;}

.lvl2:nth-child(178) {width: 0.3125em; height: 0.3125em; animation: lvl2-178 9319ms 6302ms;}
@keyframes lvl2-178 {from {transform: translate3d(87vw, 104vh, 0);} to {transform: translate3d(9vw, -108vh, 0);}}
.lvl2:nth-child(178) .lvl3 {animation-delay: 3851ms;}

.lvl2:nth-child(179) {width: 0.5em; height: 0.5em; animation: lvl2-179 10616ms 4244ms;}
@keyframes lvl2-179 {from {transform: translate3d(73vw, 104vh, 0);} to {transform: translate3d(6vw, -128vh, 0);}}
.lvl2:nth-child(179) .lvl3 {animation-delay: 2570ms;}

.lvl2:nth-child(180) {width: 0.0625em; height: 0.0625em; animation: lvl2-180 10969ms 7335ms;}
@keyframes lvl2-180 {from {transform: translate3d(43vw, 109vh, 0);} to {transform: translate3d(89vw, -111vh, 0);}}
.lvl2:nth-child(180) .lvl3 {animation-delay: 3123ms;}

.lvl2:nth-child(181) {width: 0.1875em; height: 0.1875em; animation: lvl2-181 10374ms 10669ms;}
@keyframes lvl2-181 {from {transform: translate3d(9vw, 104vh, 0);} to {transform: translate3d(90vw, -122vh, 0);}}
.lvl2:nth-child(181) .lvl3 {animation-delay: 3776ms;}

.lvl2:nth-child(182) {width: 0.25em; height: 0.25em; animation: lvl2-182 9956ms 5461ms;}
@keyframes lvl2-182 {from {transform: translate3d(17vw, 107vh, 0);} to {transform: translate3d(22vw, -117vh, 0);}}
.lvl2:nth-child(182) .lvl3 {animation-delay: 3426ms;}

.lvl2:nth-child(183) {width: 0.375em; height: 0.375em; animation: lvl2-183 10472ms 4331ms;}
@keyframes lvl2-183 {from {transform: translate3d(99vw, 104vh, 0);} to {transform: translate3d(66vw, -105vh, 0);}}
.lvl2:nth-child(183) .lvl3 {animation-delay: 2652ms;}

.lvl2:nth-child(184) {width: 0.0625em; height: 0.0625em; animation: lvl2-184 7753ms 2602ms;}
@keyframes lvl2-184 {from {transform: translate3d(21vw, 108vh, 0);} to {transform: translate3d(69vw, -109vh, 0);}}
.lvl2:nth-child(184) .lvl3 {animation-delay: 3418ms;}

.lvl2:nth-child(185) {width: 0.5em; height: 0.5em; animation: lvl2-185 7956ms 3867ms;}
@keyframes lvl2-185 {from {transform: translate3d(66vw, 102vh, 0);} to {transform: translate3d(9vw, -106vh, 0);}}
.lvl2:nth-child(185) .lvl3 {animation-delay: 3004ms;}

.lvl2:nth-child(186) {width: 0.125em; height: 0.125em; animation: lvl2-186 8573ms 8617ms;}
@keyframes lvl2-186 {from {transform: translate3d(96vw, 108vh, 0);} to {transform: translate3d(44vw, -125vh, 0);}}
.lvl2:nth-child(186) .lvl3 {animation-delay: 47ms;}

.lvl2:nth-child(187) {width: 0.5em; height: 0.5em; animation: lvl2-187 10607ms 7081ms;}
@keyframes lvl2-187 {from {transform: translate3d(98vw, 108vh, 0);} to {transform: translate3d(33vw, -115vh, 0);}}
.lvl2:nth-child(187) .lvl3 {animation-delay: 3457ms;}

.lvl2:nth-child(188) {width: 0.5625em; height: 0.5625em; animation: lvl2-188 9707ms 7539ms;}
@keyframes lvl2-188 {from {transform: translate3d(7vw, 108vh, 0);} to {transform: translate3d(89vw, -138vh, 0);}}
.lvl2:nth-child(188) .lvl3 {animation-delay: 2443ms;}

.lvl2:nth-child(189) {width: 0.1875em; height: 0.1875em; animation: lvl2-189 9849ms 3398ms;}
@keyframes lvl2-189 {from {transform: translate3d(96vw, 102vh, 0);} to {transform: translate3d(85vw, -130vh, 0);}}
.lvl2:nth-child(189) .lvl3 {animation-delay: 1859ms;}

.lvl2:nth-child(190) {width: 0.5em; height: 0.5em; animation: lvl2-190 7476ms 4736ms;}
@keyframes lvl2-190 {from {transform: translate3d(52vw, 101vh, 0);} to {transform: translate3d(30vw, -131vh, 0);}}
.lvl2:nth-child(190) .lvl3 {animation-delay: 2955ms;}

.lvl2:nth-child(191) {width: 0.5em; height: 0.5em; animation: lvl2-191 9482ms 8150ms;}
@keyframes lvl2-191 {from {transform: translate3d(70vw, 103vh, 0);} to {transform: translate3d(84vw, -113vh, 0);}}
.lvl2:nth-child(191) .lvl3 {animation-delay: 2540ms;}

.lvl2:nth-child(192) {width: 0.5625em; height: 0.5625em; animation: lvl2-192 7316ms 3091ms;}
@keyframes lvl2-192 {from {transform: translate3d(70vw, 101vh, 0);} to {transform: translate3d(18vw, -104vh, 0);}}
.lvl2:nth-child(192) .lvl3 {animation-delay: 992ms;}

.lvl2:nth-child(193) {width: 0.125em; height: 0.125em; animation: lvl2-193 7800ms 4707ms;}
@keyframes lvl2-193 {from {transform: translate3d(89vw, 110vh, 0);} to {transform: translate3d(77vw, -126vh, 0);}}
.lvl2:nth-child(193) .lvl3 {animation-delay: 370ms;}

.lvl2:nth-child(194) {width: 0.3125em; height: 0.3125em; animation: lvl2-194 9928ms 9702ms;}
@keyframes lvl2-194 {from {transform: translate3d(85vw, 105vh, 0);} to {transform: translate3d(58vw, -111vh, 0);}}
.lvl2:nth-child(194) .lvl3 {animation-delay: 1544ms;}

.lvl2:nth-child(195) {width: 0.5625em; height: 0.5625em; animation: lvl2-195 10246ms 5285ms;}
@keyframes lvl2-195 {from {transform: translate3d(19vw, 104vh, 0);} to {transform: translate3d(62vw, -122vh, 0);}}
.lvl2:nth-child(195) .lvl3 {animation-delay: 284ms;}

.lvl2:nth-child(196) {width: 0.5625em; height: 0.5625em; animation: lvl2-196 8783ms 10931ms;}
@keyframes lvl2-196 {from {transform: translate3d(43vw, 101vh, 0);} to {transform: translate3d(2vw, -116vh, 0);}}
.lvl2:nth-child(196) .lvl3 {animation-delay: 517ms;}

.lvl2:nth-child(197) {width: 0.5625em; height: 0.5625em; animation: lvl2-197 10960ms 2515ms;}
@keyframes lvl2-197 {from {transform: translate3d(86vw, 107vh, 0);} to {transform: translate3d(38vw, -118vh, 0);}}
.lvl2:nth-child(197) .lvl3 {animation-delay: 3221ms;}

.lvl2:nth-child(198) {width: 0.1875em; height: 0.1875em; animation: lvl2-198 7908ms 1566ms;}
@keyframes lvl2-198 {from {transform: translate3d(57vw, 108vh, 0);} to {transform: translate3d(52vw, -125vh, 0);}}
.lvl2:nth-child(198) .lvl3 {animation-delay: 3230ms;}

.lvl2:nth-child(199) {width: 0.5625em; height: 0.5625em; animation: lvl2-199 8696ms 10443ms;}
@keyframes lvl2-199 {from {transform: translate3d(7vw, 103vh, 0);} to {transform: translate3d(22vw, -118vh, 0);}}
.lvl2:nth-child(199) .lvl3 {animation-delay: 2491ms;}

.lvl2:nth-child(200) {width: 0.5625em; height: 0.5625em; animation: lvl2-200 7385ms 6640ms;}
@keyframes lvl2-200 {from {transform: translate3d(86vw, 110vh, 0);} to {transform: translate3d(74vw, -116vh, 0);}}
.lvl2:nth-child(200) .lvl3 {animation-delay: 3235ms;}