header {
	position: fixed; left: 0%; z-index: 1; width: 100%; padding: 1rem 2rem; background: rgba(32, 32, 32, 0.75); backdrop-filter: blur(0.5rem) brightness(75%); will-change: transform; transition: 0.25s;
	& > a {
		& > img {height: 100%;}
		&:last-of-type {
			background: #f0c090; color: #202020; justify-self: end; align-self: center; height: auto; padding: 0.75rem 1.5rem; border-radius: 2rem;font-size: 1.25rem; font-variation-settings: 'wght' 600; text-transform: uppercase; outline: 0.0625rem solid transparent;
			&:hover {background: transparent; color: #f0c090; outline: 0.0625rem solid #f0c090;}
		}
	}
}
@media (orientation: portrait) {
	header {
		bottom: calc(-100% + 4rem); display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%;
		&.hide {transform: translateY(4rem);}
		& > a {&:first-of-type {position: absolute; top: 1rem; left: 2rem; height: 2rem;}}
		& > nav {
			margin: auto 0%; text-align: center; text-transform: uppercase;
			& > ul {
				& > li {
					& > a {
						font-size: 4rem; font-variation-settings: 'wght' 800; text-transform: uppercase; -webkit-text-stroke: 0.0625rem transparent; paint-order: stroke fill;
						&:hover {font-variation-settings: 'wght' 900; letter-spacing: 0.125ch; color: transparent; -webkit-text-stroke: 0.0625rem #f0c090;}
					}
				}
			}
		}
		&.active {bottom: 0%;}
	}
	#nav {
		position: fixed; bottom: 1rem; right: 2rem; z-index: 2;
		width: 1.5rem; aspect-ratio: 1/1; background: url('/media/icon/dashboard.svg') center no-repeat; cursor: pointer; will-change: transform; transition: transform 0.5s;
		&.active {background: url('/media/icon/close.svg') center no-repeat; transform: rotate(360deg);}
		&.hide {transform: translateY(5rem);}
	}
}
@media (orientation: landscape) {
	header {
		top: 0%; display: grid; grid-template-columns: 1fr 3fr 1fr; gap: 4rem; height: 6rem;
		&.hide {transform: translateY(-6rem);}
		& > a {height: 4rem;}
		& > nav {
			margin: auto 0%; text-align: center; text-transform: uppercase;
			& > ul {
				& > li {
					display: inline-block;
					&:not(&:last-of-type) {margin-right: 2rem;}
					& > a {&:hover {font-variation-settings: 'wght' 800;}}
				}
			}
		}
	}
}